<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View all topics</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/combo?pure/0.6.0/base-min.css&pure/0.6.0/grids-min.css&pure/0.6.0/grids-responsive-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.0.2/css/hover-min.css">
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">


</head>
<body>

    <div class="pure-g wrapper">
        <header class="pure-u-1">
            <div class="header-box">
                <h1>UNIMPRESSIVE INTERNET FORUM</h1>
                <h3>Trolling Optional</h3> 
                <!-- Nav -->   
                <nav class="pure-menu pure-menu-horizontal pure-u-1">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item">
                      <a href="/topics" class="pure-menu-link"><i class="fa fa-home fa-4x"></i></a>
                    </li>
                    <li class="pure-menu-item">
                      <a href="/topics/new" class="pure-menu-link"><i class="fa fa-pencil fa-4x"></i></a>
                    </li>
                </ul>
                </nav>     
            </div>
        </header>

<!-- body -->
    <div class="pure-g explain-wrapper">
    <div class="pure-u-1-2"><div class="street-view"><p>Use a Street View pic for your post</p></div></div>
    <div class="pure-u-1-2"><div class="insta-view"><p>Use an Instagram pic for your post</p></div></div>
    </div>
    <div class="pure-g pure-menu pure-menu-horizontal sort-search">
    <form class="pure-u-1-2" action="topics/google_maps" method="GET">
        <input type="text" name="maps" placeholder="search for an address">
        <input type="submit" value="search">
    </form> 
    <form class="pure-u-1-2" action="/topics/instagram" method="GET">
        <input type="text" name="instagram" placeholder="search instagram">
        <input type="submit" value="search">
    </form>
    </div>

<!-- topic -->
        <div class="pure-u-1 topic-container">
            <div class="topic-content">
                <p class="username"> <%= rows[0].username %></p>
                <p class="username">Post Title: <%= rows[0].title %></p>
                <img class="topic-img" src=<%=rows[0].img%>> <br>
                <p class="body"> <%= rows[0].body %></p>
                <p class="time"> <%= rows[0].timestamp %></p>
                <p class="time"> Posted from: <%= rows[0].geolocation %></p>
                <p class="time"> upvotes: <%= rows[0].upvotes %></p>
            </div>
        </div>
        <!-- comments -->
        <div class="pure-u-1 comments-container">
            <div class="comments-content">
                
                <h2>Comments:</h2>
                    <% if(rows[0].id > 0){ %>
                        

                                <%subData.forEach(function(el, i, arr){%>
                                <div class="pure-u-1">
                                <div class="comments-text">
                                    <p class="username"><%=el.cmt_username%></p>
                                    <p class="body"><%=el.cmt_body%></p>
                                    <p class="time"> <%=el.cmt_timestamp%></p>
                                    <form class="pure-form" action="/topics/<%=subData[0].id%>/comment/subcomment/<%=el.cmt_id%>" method="POST">
                                        <input type="text" name="username" placeholder="username" style="width: 100px; height: 30px;">
                                        <textarea name="body" cols="30" rows="1" placeholder="subcomment" style="height: 30px;"></textarea>
                                        <input type="submit" value="add subcomment">   
                                        <input type="hidden" name="timestamp">
                                        <input type="hidden" name="comment_id" value=<%= el.cmt_id %> >
                                    </form>
                                </div>
                                </div>
                                    <%if(el.sub_timestamp !==  null){%>
                                       <div class="pure-u-1">
                                       <div class="subcomments">
                                       <p class="connector">|</p>
                                       <p class="connector">|</p>
                                       Subcommented by <%=el.sub_username%> <br>
                                       <%=el.sub_body%> <br><br>
                                       </div>
                                       </div>
                                    <%} else {%>
                                        <div class="pure-u-1">
                                        <%console.log('no subcomments')%>
                                        </div>
                                    <%}%>
                                <%})%>
                                <%} else {%>
                                    <h3>No comments yet..you can be that guy who comments 'first' -__- </h3>
                                <%}%>
        </div>
        <div class="add-comment-container">
            <div class="pure-u-1 comment-content">
                
                <h1>Add a comment..</h1>
                <form class="pure-form pure-form-stacked" action="/topics/<%=rows[0].id%>/comment" method="POST">
                  <input type="text" name="username" placeholder="username"><br>
                  <textarea name="body" rows="6" cols="50" placeholder="Enter your comment here..."></textarea>
                  <input type="hidden" name="geolocation" value=0>
                  <input type="hidden" name="img" value=0>
                  <input type="hidden" name="topics_id" value=<%=rows[0].id%>> <br>
                  <input type="submit" value="Submit Comment">
                </form>
            </div>
        </div>    
    </div>
 </div>   
</body>
</html>