body {
background-color: #E6E6E6;

}

.wrapper {
    max-width: 1100px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.header-box {
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 75px;
    border: 2px solid black;
    padding-bottom: 25px;
}

.header-box h1 {
    font-family: 'Lora', serif;
}


.pure-menu-link{
    color: black;
}

a {
  color:inherit;
  text-decoration: none;
 }

.sort{
    margin-bottom: 40px;
}

/*.instasearch{
    margin-top: 25px;
}*/

.pure-menu-item{
    margin-left: 10px;
    margin-right: 10px;
}
img {
    height: 150px;
    width: 150px;
}

.topic-img{
    height: 450px;
    width: 600px;
}

.topic-box{
    height: 500px;
}

.content{
    height: 450px;
}

.sort-search{
    margin-bottom: 50px;
}

.comments-container{
    text-align: center;
    margin: 0 auto;
}

.subcomments{
    border-radius: 25px;
}

.connector {
    margin: 0;
    padding: 0;
}

.username, .body, .time{
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.username{
    font-size: 22px;
    font-weight: bold; 
}

.time{
    font-size: 14px;
}

p {
    font-family:'Lora', serif;
    margin-bottom: 0;
}
 .explain-wrapper{
    width: 1000px;
    margin-left: 30px;
 }

.street, .insta, .sort{
    margin-top: 40px;
}

.sort{
    margin-bottom: 10px;
    margin-left: 100px;
}

.street{
    margin-right: 20px;
}

.insta{
    margin-left: 40px;
}

/*.topics-container{
    border: 1px solid black;
    border-radius: 50px;
}
*/

.create-form{
    text-align: center;
    margin-left: 300px;
}

.street-result{
    height: 600px;
    width: 750px;
}

.instaresult{
    height: 550px;
    width: 500px;
}


